/*公共部分css，头部，尾部等*/
@charset "utf-8";
input[type=text]{
	outline: none;
	padding: 0 15px;
	height: 30px;
	line-height: 36px
}
input[type=file]{
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;

}
input::-webkit-input-placeholder{color: #b6baba;}
input::-moz-input-placeholder{color: #b6baba;}
input::-ms-input-placeholder{color: #b6baba;}
textarea::-webkit-input-placeholder{color: #b6baba;}
textarea::-moz-input-placeholder{color: #b6baba;}
textarea::-ms-input-placeholder{color: #b6baba;}
input,textarea{
	font-size: .12rem;
	color:#939999;
	border: 1px solid #939999;
	border-radius: 4px
}
button{border:none;outline: none;cursor: pointer;}
.btn-primary{
	background-color: #4cc6c5;
	color:#fff;
	border-radius: 4px;
	border: none;
	outline: none;cursor: pointer;
	font-weight: bold;
	text-align: center;
}
.btn-cancel{
	background:none;
	border: 1px solid #4cc6c5;
	color:#4cc6c5;
	font-weight: bold;
	text-align: center;
}
.btn-cancel:hover{
	border-color: #3d9e9e;
	background-color: #cccccc;
	color:#3d9e9e;
}
.btn-primary:hover{
	background-color: #278785;
	color:#ccc;
}
.btn.btn-lg{width:auto;height:40px;line-height: 40px;padding: 0 25px;font-size: 14px;font-weight: bold;}
.text-primary{color:#4cc6c5 !important;}
.text-gray{color:#939999 !important;}
.text-light{color:#b6baba;}
.text-bold{font-weight: bold;}
.visible-xs{display: block}
.primary-hover{
	color:#4cc6c5;
}
.primary-hover:hover{
	color:#3d9e9e;
}
[v-cloak]{display: none;}
input.magic +label{
	color:#4f5454;
	font-size: .12rem;
}
input.magic{width: 0;height: 0;}
.btn-check + label{
	display: inline-block;
	padding: 0 15px;
	border-radius: 4px;
	border: 1px solid #d0d5d5;
	height: 30px;
	line-height: 30px;
	margin: 0 5px 5px 0;
	float: left;
	cursor: pointer;
}
.btn-check:checked + label{
	color:#4cc6c5;
	border-color: #4cc6c5;
}
.magic-check+label{line-height: 30px;}
.magic-check+label:before{
	width: 30px;
	height: 30px;
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	content: '';
	display: inline-block;
	float: left;
	background-position: center;
}
.magic-check:checked+label:before{
	background-image: url(../images/checked.png);
}
body{font-size: .12rem;}
.fontlg{font-size: .14rem;}
.fontnormal{font-weight: normal;}

@media (min-width: 768px){
	body{font-size: 14px;}
	.f20{font-size: 20px;}
	/*.f20 *{font-size: inherit;}*/
	.fontlg{font-size: inherit;}
	input,textarea{font-size: 14px;}
	.visible-xs{display: none}
	input[type=text]{height: 36px;}
	input.magic +label{
		font-size: 14px;

	}
	.btn-check + label{
		padding: 0 31px;
		height: 36px;
		line-height: 36px;
		margin: 0 20px 20px 0;
	}
	.magic-check+label{line-height: 36px;}
	.magic-check+label:before{
		width: 36px;
		height: 36px;
		cursor: pointer;
	}
	.btn.btn-lg{height: 60px;line-height: 60px;min-width:230px;padding: 0 36px;font-size: 18px;font-weight: bold;}
}